body {
  font-family: "Montserrat", serif;
}
/* === Boost Post Flow 1 (Start) === */

/* header start */
#headerFlow {
  padding: 23px 52px 23px 28px;
  background-color: #f1f5f9;
}
.header-flow-right {
  float: right;
}
.header-flow-left-inner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
.header-flow-left-inner-button {
  width: 40px;
  height: 40px;
  box-shadow: -6px -6px 12px 0px rgb(255, 255, 255),
    6px 6px 12px 0px rgba(212, 224, 235, 0.8);
  background: rgb(241, 245, 249);
  border-radius: 50%;
  border: none;
  outline: none;
}
.header-flow-left-inner span {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.steps {
  gap: 10px;
  z-index: 9;
}
.progress-wrapper {
  width: 100%;
  min-width: 612px;
  border: 1px solid red;
  position: relative;
}
.step-circle {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset -4px -4px 6px 0px rgba(255, 255, 255, 0.8),
    inset 4px 4px 6px 0px rgba(215, 228, 240, 0.8);
  background: rgb(241, 245, 249);
}
.step-circle-inner-active {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgb(73, 22, 203);
}
.step-circle-inner {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  box-shadow: -6px -6px 12px 0px rgb(255, 255, 255),
    6px 6px 12px 0px rgba(212, 224, 235, 0.8);
  background: rgb(241, 245, 249);
}
.step-circle-inner span {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.07px;
  text-align: center;
}
.step-title span {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.07px;
  text-align: center;
}
.step-title .active {
  color: rgb(73, 22, 203);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.07px;
  text-align: center;
}
.progress {
  position: absolute;
  width: 375px;
  height: 10px;
  top: 25%;
}
.progress-bar {
  background: rgb(74, 23, 203);
}

.demofrom {
  padding-top: 100px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.input-group {
  width: 600px;
  height: 56px;
  border-radius: 10px;
  box-shadow: inset -4px -4px 6px 0px rgba(255, 255, 255, 0.8),
    inset 4px 4px 6px 0px rgba(215, 228, 240, 0.8);
  background: rgb(241, 245, 249);
  align-items: center;
}
.input-group-icon img {
  padding: 17px 25px;
}
.divider-input {
  height: 70%;
  width: 1px;
  background-color: #c0d8f0;
}
.input-group input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  padding: 22px 20px;
}
.input-group input:focus {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.input-group input::placeholder {
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-align: left;
}
/* === Boost Post Flow 1 (End) === */
